.map {
  height: 530px;
}

.instructions {
  text-align: center;
  position: absolute;
  margin: 10px;
  width: 25%;
  top: 0;
  bottom: 80%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  font-family: sans-serif;
}
.duration {
  font-size: 14px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#image-new-ride{
  background-image: url(https://static.wixstatic.com/media/73a767_eff4b6d6232b429eb34455e91b9bf10d~mv2.jpg/v1/fill/w_1000,h_667,al_c,q_80,usm_0.66_1.00_0.01/73a767_eff4b6d6232b429eb34455e91b9bf10d~mv2.jpg);
  height:530px;
  width: 97%;
  padding: 10px;
  background-size: cover;
  background-position: center;
}

.show-ride-image {
  background-size: cover;
  background-position: center;
  background-color: #f6f6f6;
  width: 100%;
  height: 550px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
  position: relative;
}
