.bookings-table{
  h4{
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  th{
    background-color: #6D89B9;
    vertical-align: middle;
  }

  #tresh{
    text-align: center;;
  }
}
