<h1>Rides#show</h1>
<p>Find me in app/views/rides/show.html.erb</p>





<!-- ne pas effacer...... -->
<%= link_to "liste des hotels", hotels_path(query:"marseille", arrival_date:"2021-07-15") %>

<!-- @ride.city_arrival -->
<!-- @ride.arrival_date -->
<!-- wissant à remplacer par @...... -->
<!-- date a remplacer  -->